/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  color: mediumaquamarine;
  padding-left: 20px;
  font-weight: bold;
}

header nav span {
  padding: 10px;
  font-weight: bold;
}

header nav a {
  color: black;
}
